@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.custom-cluster-icon {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.custom-cluster-icon > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
